html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------------------------*/
/*       PASSWORD COVER         */
/*------------------------------*/

#passwordOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1000;  /* make sure it's on top of everything else */
  display: none;  /* hidden by default */
}

/*------------------------------*/
/*      HEADER AND TITLE        */
/*------------------------------*/

.header-bar {
    background-color: #189FD9;
    padding: 2px;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 5px solid #14162D;
}

.header-bar p{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.header-bar::-webkit-scrollbar
{
    width: 0;
}

.header-image
{
    position: absolute;
    width: 600px;
    height: 100%;
    left: 5%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 20%, white 80%, rgba(255, 255, 255, 0));
}

.header-image img
{
    width: 60%;
    height: 100%;
}

.navOpen {
    position: absolute;
    left: 10px;
    color: white;
}

/*------------------------------*/
/* BUTTON AND BUTTON CONTAINER  */
/*------------------------------*/

.button-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

button {
    background-color: #189FD9; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 8px 10px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    margin: 4px 2px;
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 4px; /* Rounded corners */
    transition-duration: 0.4s; /* Transition effect on hover */
    border: 2px solid #14162D;
  }

.button-container::-webkit-scrollbar
{
    width: 0;
}


/*------------------------------*/
/*  TABLE AND TABLE CONTAINER   */
/*------------------------------*/

.table-container {
    display: block;
    justify-content: center;
    height: 550px;
    width: 60%;
    overflow-y: scroll;
    border: 1px solid #14162D;
}

.table-container::-webkit-scrollbar {
    width: 0;
}

thead {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 0px 10px 1px #14162D;
  }

thead tr {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*------------------------------*/
/*          SIDE BAR            */
/*------------------------------*/


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial;
    text-align: center;
    color: #818181;
    display: block;
    transition: 0.5s;
    z-index: 3;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
    z-index: 3;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 55px;
    z-index: 3;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



/*------------------------------*/
/*       ADD/REMOVE BOX         */
/*------------------------------*/

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, .4); /* Black w/ opacity */
    color: #818181;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #111;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 50%;
    text-align: center;
  }
  
  /* The Close Button */
.closebtn {
    color: #818181;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .closebtn:hover,
  .closebtn:focus {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
  }